<h1>Login</h1>

<%= form_for(:user, url: session_path) do |f| %>
  <%= f.label :Username %>
  <%= f.text_field :username %>

  <%= f.label :Password %>
  <%= f.password_field :password %>
  
  <%= f.submit "submit" %>
<% end %>

<%= link_to 'Sign up!', new_user_url %>