<h1><%= @sub.title %></h1>
<h4>Description</h4>
<%= @sub.description %>
<br><br>
<%= link_to 'Make New Post!', new_post_url %>
<br><br>
<ul>
  <% @posts.each do |post| %>
    <li>
      (<%= post.votes.sum('value') %>) <%= link_to post.title, post_url(post) %>
    </li>
  <% end %>
</ul>
<%= link_to 'Edit', edit_sub_url(@sub) %>
