<!DOCTYPE html>
<html>
  <head>
    <title>RedditClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if logged_in? %>
        <%= current_user.username %>
        <%= button_to "Logout", session_url, action: "delete", method: "delete" %>
      <% else %>
        <%= link_to 'Sign in!', new_session_url %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
